*{margin: 0; padding: 0;}
#container{
    width: 1200px;
    margin: 0 auto;
}

/* header 영역 */
header{
    height: 80px;
    background: rgb(0, 59, 0);
}
header #logo{
    width: 300px;
    float: left;
    padding: 15px 30px;
}
header #logo a{
    color: yellow;
    text-decoration: none;
}
header nav{
    width: 800px;
    float: right;
}
header #topMenu{
    list-style: none;
    text-align: right;
    margin-right: 50px;
    padding: 15px 20px;
}
header #topMenu li{
    display: inline-block;
    margin: 10px 20px;
}
header #topMenu li a{
    color: #fff;
    text-decoration: none;
}

/* index 스타일 */
#contents{
    width: 1000px;
    margin: 30px auto;
}
#contents #healing, #contents #activity{
    margin: 30px 10px;
}
#contents section h2{
    margin-bottom: 20px;
}
#contents section div{
    margin: 30px 10px;
}
#contents section p{
    line-height: 2;
}
#contents #healing img, #activity img{
    float: left;
    margin-right: 20px;
    border-radius: 20px;
}
#contents #healing, #activity{
    height: 300px;
}
footer{
    width: 1000px;
    margin: 30px auto;
    border-top: 2px solid #222;
}
footer #bottomMenu{
    list-style: none;
    margin: 10px 10px 10px 30px;
}
footer #bottomMenu li{
    display: inline-block;
    margin: 10px 0;
    border-right: 1px solid #aaa;
    padding: 0 10px;
}
footer #bottomMenu :last-child{
    border: none;
}
footer #bottomMenu li a{
    text-decoration: none;
    color: #333;
}

/* product 스타일 */
#product{
    width: 1000px;
    margin: 30px auto;
}
#product p, #product li{
    line-height: 2;
}
#product h2{
    margin: 10px;
}

#product #description{
    width: 800px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px 60px;
    margin-bottom: 20px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
#product #description img{
    border-radius: 5px;
    margin: 10px;
}

#product #recipe{
    border: 1px solid #ccc;
    padding: 20px 60px;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
}
#product #recipe ol{
    padding-left: 20px;
}

#product #package{
    border: 1px solid #ccc;
    padding: 20px 60px;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#product table, #product table th, #product table td{
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 10px 20px;
}
